<launch>
    <!-- Arguments -->
    <arg name="map_file" default="$(find ros_navigation)/maps/map.yaml" />
    <arg name="open_rviz" default="false" />
    <arg name="use_dijkstra" default="true" />

    <!-- base control -->
    <include file="$(find ros_navigation)/launch/base_control.launch" />

    <!-- robot with lidar -->
    <include file="$(find ros_navigation)/launch/lidar.launch" />

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
        <param name="frame_id" value="map" />
    </node>

    <!-- AMCL -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find ros_navigation)/param/amcl_params.yaml" command="load" />
        <param name="initial_pose_x" value="0.0" />
        <param name="initial_pose_y" value="0.0" />
        <param name="initial_pose_a" value="0.0" />
    </node>

    <!-- move_base -->
    <include file="$(find ros_navigation)/launch/move_base.launch">
        <arg name="use_dijkstra" value="$(arg use_dijkstra)" />

    </include>

    <!-- rviz -->
    <group if="$(arg open_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find ros_navigation)/rviz/navigation.rviz" />
    </group>

</launch>