<!--
  show slam in rviz
 -->
<launch>
  <!--include file="$(find ros_navigation)/launch/rplidar.launch" /-->
  <!--include file="$(find ros_navigation)/launch/hector.launch" /-->
  <!--include file="$(find ros_navigation)/launch/gmapping.launch" /-->
  <!--include file="$(find ros_navigation)/launch/karto.launch" /-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_navigation)/rviz/slam.rviz" />
</launch>
